<!-- html page for show book -->

<div ng-init="showBook()">
    <div class="panel-body">
      <div id = "products" class="row">
      <div ng-repeat="books in book">
        <div class="col-xs-6 col-md-4" ng-if="books.approved==='true'">
<object ng-if="books.type==='link' && books.click" style="height: 280px;width: 180px" type="application/pdf" data={{books.link}} ></object>
        <div><button class="btn btn-primary" ng-if="books.type==='link'" ng-click='booktab(books.link)'>Download</button></div>
</div>
        <div class="col-xs-6 col-md-4"></div>
         <div class="col-xs-6 col-md-4">
        <img class="thumbnail" ng-if="!books.link" src="{{books.image_url}}" style="width: 180px;height: 280px">
        <img style="height: 100px;width: 100px" ng-if="books.type==='link' && !books.click" ng-click='books.click=!books.click' src="https://lh3.googleusercontent.com/yRj8UIvEGQRuZt5CCwc-SSgYFinQP4WsLbquzXwLVEP5ub_6h0-EnKnW2_nBw8LlmSwW=w170">


          <h2 style="font-weight: bold;">{{books.title}}</h2>
          <p><span>by : </span> {{books.author}}</p>
          <p><span>genre : </span>{{books.genre}}</p>
          <p><span> publisher : </span>{{books.publisher}}</p>
          <p><span>pages : </span>{{books.pages}}</p>
          <p>simple description :</p>
          <p>{{books.description}}</p>
          <p><span style="color: #380001">price : </span>{{books.price}}</p>
         
            </div>
                   </div>
          <button ng-click="Buy(books.title,books.price,books.image_url)">Buy</button>
          <button ng-click="cancel(books.title)">Cancel</button>

        </div>
      </div>
    </div>


      <h3> Your Book </h3>
  <div ng-repeat="books in buy">
    <div >
     <p><span>{{books.title}}</span>  {{books.price}}</p>
    </div>
  </div>
  <div class="popup" ng-click="finish() ">Click me to show the Amount!
  <span class="popuptext" id="myPopup">{{sum + " JD "}}</span>
  <button ng-click='add(buy)'> Submit Order</button>
</div>


