  <div class="panel-body" style="background-image: url(app/main/img/add.jpg);
    background-size: 134%;
    background-position: center top">
<div class="login-wrap">
	<div class="login-html">
	<h1>Create an Acount ☺ </h1>
<div ng-model="msg" style="color: red">{{ msg }}</div>
		<input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab">Sign Up</label>
		<div class="login-form">		
			<form ng-submit='signup()'>
				<div class="sign-up-htm">
					<div class="group">
						<label for="user" class="label">Username</label>
						<input id="user" type="text" class="input" ng-model='user.username' style="color:#000000">
					</div>
					<div class="group">
						<label for="pass" class="label">Password</label>
						<input id="pass" type="password" class="input" data-type="password" ng-model='user.password' style="color:#000000">
					</div>
					<div class="group">
						<label for="pass" class="label">Phone</label>
						<input id="pass" type="text" class="input" ng-model='user.phone' style="color:#000000">
					</div>
					<div class="group">
						<label for="pass" class="label">Address</label>
						<input id="pass"  class="input" ng-model='user.address' style="color:#000000">
					</div>
					<div class="group">
						<label for="pass" class="label">Email Address</label>
						<input id="pass" type="Email" class="input" ng-model='usr.emailAddress' style="color:#000000">
					</div>
					<div class="group">
						<input type="submit" class="button" value="Sign Up">
					</div>
					<div class="hr"></div>			
				</div>
			</form>
		</div>
	</div>
</div>
<br>
<br>
</div>	
<br>
<br>
<br>
<br>

