

  <div class="panel-heading" style="text-align: center;">
    <h3 class="panel-title" ng-controller="BookController"  style=" font-size: medium; color:#000000;font-weight: bolder;">Upload Book</h3>
  </div>
  <div class="panel-body"  style="background-image: url(app/main/img/add.jpg);
    background-size: 134%;
    background-position: center top">
    <div class="row">
    <div class="col-md-3"></div>
      <div class="col-md-6">
      
      <form ng-submit="addbook()">
        <div class="form-group">
          <label class="label"  style=" font-size: medium; color:#000000;">Title</label>
          <input type="text" class="form-control" ng-model="book.title" placeholder="Title">
        </div>
        <div class="form-group">
          <label class="label"  style=" font-size: medium; color:#000000;">Genre</label>
          <select ng-model="book.genre" class="form-control">
            <option value="Suspense">Suspense</option>
            <option value="Drama">Drama</option>
            <option value="Romance">Romance</option>
            <option value="NonFiction">NonFiction</option>
            <option value="Other" >Other</option>
          </select>
        </div>
        <div class="form-group">

   

          <label class="label"  style=" font-size: medium; color:#000000;">Author</label>
          <input type="text" class="form-control" ng-model="book.author" placeholder="Author">
        </div>
        <div class="form-group">
          <label class="label"  style=" font-size: medium; color:#000000;">Publisher</label>
          <input type="text" class="form-control" ng-model="book.publisher" placeholder="Publisher">
        </div>
        <div class="form-group">
          <label class="label"  style=" font-size: medium; color:#000000;">Pages</label>
          <input type="text" class="form-control" ng-model="book.pages" placeholder="Pages">
        </div>
        <div class="form-group">
          <label class="label"  style=" font-size: medium; color:#000000;">Description</label>

          <textarea class="form-control" ng-model="book.description" placeholder="Description"></textarea>
        </div>
        <!-- <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" ng-model="upload.title" placeholder="Title">
        </div>
        <div class="form-group">
          <label>Description</label>
          <textarea class="form-control" ng-model="upload.description" placeholder="Description"></textarea>
        </div> -->
        <div class="form-group">

          

          <label class="btn btn-primary btn-md">Add File
          <img ng-if="loading" style="height: 30px; width: 30px;" src="load.gif" >
          <input accept="application/pdf" id="test" type="file" onchange="angular.element(this).scope().file=this.files[0];angular.element(this).scope().prosFile(this)" style="display: none;" ><br>
          </label>
          <br>
          <br>

          <div class="form-group">
          <label class="label"  style=" font-size: medium; color:#000000;">OR Paste File's URL</label>
          <input type="text" class="form-control" ng-model="filetext" ng-change="prosFile()" placeholder="URL">
          </div>
          
          
        </div>
        <!-- <div class="form-group">
          <label>Buy URL</label>
          <input type="text" class="form-control" ng-model="book.buy_url" placeholder="Buy URL">
        </div> -->

       <div ng-if="filetext!==''||(book.link && file)" style="text-align: center;"><button type="submit" class="btn btn-primary btn-lg">Upload and Send File to Admin</button></div>
        
      </form>

    </div>
    <div class="col-md-3"></div>
    </div>
  </div>

